.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: rgb(16, 143, 75);
  border: 1px solid rgba(220, 210, 210, 0.2);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.whatsapp-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: rgba(64, 210, 2, 0.3);
  color: rgb(16, 143, 75);
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
    bottom: 20px;
    right: 20px;
  }
} 